@model List<BookMag.Models.BookReview>

@foreach (var review in Model)
{
    if (!@review.IsOffensive) { 
        <div class="jumbotron">
            <p>
                <strong>
                    @Html.DisplayFor(m => review.Name):
                </strong>
                @Html.DisplayFor(m => review.Review)
                <div></div>
                <button type="button" class="report-btn" data-review="@review.Id">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </button>
                <button type="button" class="like-btn" data-review="@review.Id">
                    <span class="glyphicon glyphicon-thumbs-up"></span> 
                    Нравится: 
                    <span class="like"> 
                        @Html.DisplayFor(m => review.Likes) 
                    </span>
                </button>
            </p>
        </div>
    }
}
@Scripts.Render("~/bundles/functools")